#header {
  position: fixed;
  .headerBox {
    background-color: #015a55;
    border-radius: 60px;
    padding: 10px 20px;
    margin: 15px auto;
    width: 90%;
    z-index: 999;
    .logo {
      // border: 1px solid red;
      width: 15%;
      margin: 5px 0 0 20px;

      img {
        align-items: center;
        width: 100%;
      }
    }
    .menu {
      ul {
        padding: 0;
        margin: 0;
        li {
          list-style: none;
          a {
            transition: 0.5s ease-in-out;
            &:hover {
              color: #f69b05;
            }
            text-decoration: none;
            color: white;
            padding: 30px;
            font-family: "Poppins", sans-serifı;
            // i{
            //     align-items: center;
            // }
          }
          &.page {
            .dropdown {
              // width: 100%;
              top: 100%;

              ul {
                padding-top: 20px;
                box-shadow: 0 0 20px 0 rgb(172, 171, 171);
                border-radius: 0 0 20px 20px;
                position: absolute;
                z-index: -1;
                display: none;
                width: 190px;
                li {
                  margin: 10px ;
                  width: 90%;
                  border-radius: 10px;
                  padding: 10px;
                  &:hover{
                    background-color: #f69b05;
                  }
                  a {
                    color: black;
                    padding: 10px;
                  }
                }
              }
            }
            &:hover {
              ul {
                // width: 100%;
                display: block;
              
              }
            }
           

            }
            &.blog {
              .dropdown1  {
                // width: 100%;
                top: 100%;
  
                ul {  
                  padding-top: 20px;
                  box-shadow: 0 0 20px 0 rgb(172, 171, 171);
                  border-radius: 0 0 20px 20px;
                  position: absolute;
                  z-index: -1;
                  display: none;
                  width: 150px;
                  li {
                    margin: 10px ;
                    width: 90%;
                    border-radius: 10px;
                    padding: 10px;
                    &:hover{
                      background-color: #f69b05;
                    }
                    a {
                      color: black;
                      padding: 10px;
                    }
                  }
                }
              }
              &:hover {
                ul {
                  // width: 100%;
                  display: block;
                
                }
              }
             
  
              }
            
          }
          
        }
        .navIco{
          display: none;
        }
      }

      &::before {
        content: " ";
        width: 1px;
        height: 50%;
        position: absolute;
        right: 10%;
        background-color: rgb(159, 153, 153);
        top: 25px;

      }
      .phone {
        padding: 15px;
        background-color: #f69b05;
        border-radius: 50%;
        color: white;
        font-size: 15px;
        // position: relative;
      }
      
    }
  }
  @media (max-width:768){
#header{
  .headerBox{
    position: relative;
    z-index: 999;
    .menu{  
      width: 70%;
      margin: auto;
      justify-content: space-between;

      ul{
        flex-direction: column;
        background-color: #015a55;
        left: 0;
        top: 100%;
        width: 70%;

        position: absolute;
        li{
          border-bottom:1px solid black ;
        }
        
      }
      .navIco{
        display: block;
      }
    }
  }
}
  }

